
:root {
  --font-sans: 'Montserrat';
}

html, body, #root {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  font-family: inherit;
}

code, pre, kbd, samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
               "Courier New", monospace;
}


h1, h2, h3 { font-weight: 700; }
h4, h5, h6 { font-weight: 600; }
body, p, li, a, button, input, textarea { font-weight: 400; }
